

.option-box .gear-check,
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.dropdown-menu .divider,
.carousel-indicators li.active
{
    background-color: #4ac614;
}

.navbar-inverse .navbar-brand span,
.About h1 span,h3 span,
.testimonials span,
.footer .copyright span,
.footer h3
{
    color: #4ac614;
}

.testimonials .carousel-indicators li.active,
.option-box .color-option
{   
    border: 3px solid #4ac614;
}

.dropdown-menu
{
    border-top: solid 3px #4ac614;
}

